.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 55px;
  position: absolute;
}

.App-logo-mobile {
  animation: App-logo-spin infinite 30s linear;
  height: 55px;
  position: absolute;
  right: 100%;
}

.App-logo-hidden{
  display: none;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.btn-margin {
  margin: 20px;
}

.material-icons:hover {
  cursor: pointer;
}